@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");


$myTitleFont: Tangerine;
$myColor: #7e4847;
$myTitleFontSize: 50px;
$myBackgroud: url(../../images/Christian&Ameyo.svg),url(../../images/Footer.png);
$myBackground: url(../../images/Footer.svg);
$myBackgroundColor: #fffdf5;
$myMainFont: Ibarra Real Nova;


.things h1{
    font-family: homenaje;
    font-size: $myTitleFontSize;
    color: $myColor;
    text-align: center;
    padding: 0px;
}

.things h4{
    margin: 5px;
    padding: 10px;
    font-family: $myMainFont;
    color: #ffbd59;
    font-size: 30px;
    text-align: center;
}

.things p{
    margin: 5px;
    padding: 10px;
    font-family: $myMainFont;
    color: $myColor;
    font-size: 20px;
}

.things ul{
    margin: 0px 40px 40px;
    padding: 10px;
    font-family: $myMainFont;
    color: $myColor;
    font-size: 20px;
}

#gozem{
    height: 100px;
    margin: 0px 40px 20px 120px;
}


